<h3>SPRUCE Ecological Forecasting System Graph</h3>
<hr>

<p class="" style="width:80%">The graphs represent the forcasting calculation using live data pulled from the ftp. </p>

<div style="max-width:1000px">
    <div style="width:100%">
        <div style="width:80%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ forcing_uncertainty_label }}</label>
            <img class="eco-img" src="{{ forcing_uncertainty_url }}" alt="{{ forcing_uncertainty_alt_text }}" style="width:100%">
        </div>
    </div>
</div>

